/* font-family: "IntroRegular"; */
@font-face {
    font-family: "IntroRegular";
    src: url("../fonts/IntroRegular/IntroRegular.eot");
    src: url("../fonts/IntroRegular/IntroRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/IntroRegular/IntroRegular.woff") format("woff"),
    url("../fonts/IntroRegular/IntroRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "IntroInline"; */
@font-face {
    font-family: "IntroInline";
    src: url("../fonts/IntroInline/IntroInline.eot");
    src: url("../fonts/IntroInline/IntroInline.eot?#iefix")format("embedded-opentype"),
    url("../fonts/IntroInline/IntroInline.woff") format("woff"),
    url("../fonts/IntroInline/IntroInline.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "ArialRegular"; */
@font-face {
    font-family: "ArialRegular";
    src: url("../fonts/ArialRegular/ArialRegular.eot");
    src: url("../fonts/ArialRegular/ArialRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ArialRegular/ArialRegular.woff") format("woff"),
    url("../fonts/ArialRegular/ArialRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "ArialBold"; */
@font-face {
    font-family: "ArialBold";
    src: url("../fonts/ArialBold/ArialBold.eot");
    src: url("../fonts/ArialBold/ArialBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ArialBold/ArialBold.woff") format("woff"),
    url("../fonts/ArialBold/ArialBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "ArialItalic"; */
@font-face {
    font-family: "ArialItalic";
    src: url("../fonts/ArialItalic/ArialItalic.eot");
    src: url("../fonts/ArialItalic/ArialItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ArialItalic/ArialItalic.woff") format("woff"),
    url("../fonts/ArialItalic/ArialItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "ArialBlack"; */
@font-face {
    font-family: "ArialBlack";
    src: url("../fonts/ArialBlack/ArialBlack.eot");
    src: url("../fonts/ArialBlack/ArialBlack.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ArialBlack/ArialBlack.woff") format("woff"),
    url("../fonts/ArialBlack/ArialBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "ArialBoldItalic"; */
@font-face {
    font-family: "ArialBoldItalic";
    src: url("../fonts/ArialBoldItalic/ArialBoldItalic.eot");
    src: url("../fonts/ArialBoldItalic/ArialBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ArialBoldItalic/ArialBoldItalic.woff") format("woff"),
    url("../fonts/ArialBoldItalic/ArialBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.button-zakaz-header {
    position: relative;
    display: inline-block;
    font-family: Arial,Helvetica,FreeSans,"Liberation Sans","Nimbus Sans L",sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: rgb(245,245,245);
    text-shadow: 0 -1px rgba(0,0,0,.1);
    text-decoration: none;
    user-select: none;
    padding: 8px 25px;
    outline: none;
    border: none;
    border-radius: 3px;
    background: #0c9c0d linear-gradient(#82d18d, #0c9c0d);
}

.button-zakaz {
    position: relative;
    display: inline-block;
    font-family: Arial,Helvetica,FreeSans,"Liberation Sans","Nimbus Sans L",sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: rgb(245,245,245);
    text-shadow: 0 -1px rgba(0,0,0,.1);
    text-decoration: none;
    user-select: none;
    padding: 12px 50px;
    outline: none;
    border: none;
    border-radius: 3px;
    background: #0c9c0d linear-gradient(#82d18d, #0c9c0d);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.button-zakaz:hover,
.button-zakaz-header:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
    cursor: pointer;
}
.button-zakaz:active,
.button-zakaz-header:active{
    top: 1px;
    color: #fff;
    text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;
    box-shadow: 0 -1px 3px rgba(0,0,0,.3), 0 1px 1px #fff, inset 0 1px 2px rgba(0,0,0,.8), inset 0 -1px 0 rgba(0,0,0,.05);
}

@-webkit-keyframes pulsate {
    50% {color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;}
}
@keyframes pulsate {
    50% {color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;}
}

body{
    font-family: Arial,Helvetica,FreeSans,"Liberation Sans","Nimbus Sans L",sans-serif;
}

a{
    text-decoration: none;
    color: black;

}
a:hover {
    text-decoration: none;
}



.block-title{
    font-size: 25pt;
    font-family: Arial;
    font-weight: bold;
    margin: 40px 0;
    color: #000;

}

.block-title-11{
    font-size: 23pt;
    font-family: Arial;
    font-weight: bold;
    margin: 40px 0;
    color: #000;
}


.block-title-blue{
    color: #00B3D2;
}


.block-title{
    font-size: 25pt;
    font-family: Arial;
    font-weight: bold;
    margin: 40px 0;
    color: #000;

}

.block-title-11{
    font-size: 23pt;
    font-family: Arial;
    font-weight: bold;
    margin: 40px 0;
    color: #000;
}


.block-title-blue{
    color: #00B3D2;
}

.block-11-text{
    font-size: 22px;
    font-family: Arial;
    color: #000;
    line-height: 25px;

}

.block-11-text-bold{
    font-weight: bold;

}


.block-11-img{
    width: 100%;
}


img{
    width: 100%;
}

.block-1 {
    padding: 5px 0;
    font-size: 20px;
}

.block-1-img img{
    width: 65%;
    padding: 7px;
}

.block-1-phone{
    padding: 10px;
    font-size: 22px;
}


.block-2-fon-img{
    width: 100%;
}

.block-2-bottum{
    position: absolute;
    width: 100%;
    bottom: 0px;
    margin: 0px auto;

}

.block-2-bottum-left{
    padding-bottom: 30px;
    padding-left: 170px;

}
.block-2-bottum-right{
    padding-bottom: 30px;
    padding-right: 170px;
}

.block-2{
    position: relative;
}


.block-3 .block-title{
    font-size: 25px;
    margin: 40px 0;
}

.block-3 {
    font-size: 20px;
    padding-bottom: 25px;
}

.block-3-left-1 {
    padding: 40px;
}
.img-garant img{
    width: 60%;
}

.block-3 .predozt{
    color:#2671FA;
    font-size: 16px;
    padding: 55px 40px;
}

.video-one{
    position: absolute;
    top: 50px;
    left: 50px;

}

.block-4 {
    height: 200px;
    background: url(../images/polza-bg.png) no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
}

.block-4 h1{
    color:#FFE600;
    padding: 33px;
}
.block-5 .block-polza{
    padding: 0 40px;
}
.block-5 p{
    font-size: 19px;
    padding: 32px 2px;
}
.raboti-detei {
    float: left;
    width: 20%;
    padding: 12px;
}

.raboti-detei img{
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.32);
}

.block-6{
    padding-bottom: 35px;
}
.block-7 {
    background: url(../images/preim-bg.jpg) no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
}

.block-7-1{
    padding: 70px 30px;
}
.block-7 h4 {
    font-size: 22px;
    padding: 15px 0;
}
.block-7{
    height: 513px;
    font-size: 19px;
}
.block-7 img {
    width: 150px;
    height: 150px;
}

.block-8 img {
    width: 40%;
}
.block-8 .img-1{
    width: 44%;
}
.block-8{
    padding: 10px 0;
}
.block-8 span {
    color:#03B1D4;
}
.block-8 .prize span{
    text-decoration: line-through;
    color: #7B7D7E;
    font-size: 20px;
}
.block-8-prize{
    color: #FF0101;
    font-size: 26px;
    font-weight: bold;
}
.block-8 .prize{
    border: 3px solid #FA581D;
    border-radius: 5px;
    width: 350px;
    padding: 15px;
    margin: 45px;
    font-size: 16px;
}

.block-8 .prize h4{
    font-size: 22px;
    padding: 7px 0;
    color: #0D5663;
}

.block-8 .komplekt{
    padding-top: 15px;
    font-size: 20px;
}


.block-9 span {
    color:#03B1D4;
}

.block-9 {
    font-size: 24px;

}

.block-9 .nabor img {
    width: 60%;
}

.nabor-1,
.nabor-2,
.nabor-3 {
    padding: 20px;
}

.block-10 {
    background: url(../images/how-work-bg.jpg) no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */

}

.block-10 h1{
    font-size: 30px;
    color:#03B1D4;
}

.block-10 {
    padding-top: 20px ;
    font-size: 26px;
}

.video{
    padding: 10px;
}




.block-12-bg{
    background: url(../images/about.png) no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
    height: 200px;
    margin: 50px 0;
}

.block-12-title{
    font-size: 31px;
    font-family: Arial;
    color: #FFDE09;
    font-weight: bold;
    margin-top: 37px;
    text-shadow: -1px -1px 1px #333333, 1px -1px 1px #333333, -1px 1px 1px #333333, 1px 1px 1px #333333;
}


.block-13-bg{
    background: url(../images/video-block.png) no-repeat;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    height: 475px;
    margin: 10px 0;
}


.video-block{
    position: relative;
    top: 60px;
    width: 66%;
}

.block-14{
    margin-top: 15px;
}

.block-14-img img{
    width: 100%;
}

.block-14-text{
    font-size: 17px;
    color: #000;
    padding: 9px 23px;

}
.block-14-text-3{
    font-size: 17px;
    color: #000;
    padding: 0px 23px;

}

.block-15-title{
    font-size: 31px;
    font-family: Arial;
    color: #000;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 25px;
}

.block-15-img{
    width: 100%;
}

.block-15-title-text{
    font-size: 16px;
    font-family: Arial;
    font-weight: bold;
    color: #000;
    margin: 20px 0px;

}
.block-15-text{
    font-size: 16px;
    font-family: Arial;
    color: #000;
    padding: 0px 20px;
}



.block-16-bg{
    background: url(../images/preim-pen.jpg) no-repeat;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    height: 960px;
    margin: 35px 0;
    width: 100%;
}

.block-color-red{
    color: #FF4900;
}

.block-16-title{
    font-size: 33px;
    font-family: Arial;
    color: #000;
    font-weight: bold;
    margin-top: 95px;
    margin-bottom: 39px;
}

.block-16-img img{
    width: 100%;
    padding: 15px 50px;
}

.block-16-text{
    font-size: 25px;
    font-family: Arial;
    color: #000;
    padding: 0px 20px;
    padding: 0px 70px;
    font-weight: bold;

}


.block-17-title{
    font-size: 33px;
    font-family: Arial;
    color: #000;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 39px;
}

.block-17-left{
    border: 3px solid red;
}
.block-17-right{
    border: 3px solid red;
}

.block-17-title-text{
    color: #00565E;
    font-size: 30px;
    font-family: Arial;
    font-weight: bold;
    margin-top: 35px;
}

.block-17-title-img img{
    width: 100%;
    padding: 20px;
}

.block-17-title-cena{
    font-size: 25px;
    font-weight: bold;
}


.block-2-bottum-17{
    background-color: green;
    padding: 15px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    border-radius: 10px;
    margin: 0px auto;
}

.block-2-bottum-17-podrob{
    color: #3D3E3E;
    font-size: 18px;
    font-family: Arial;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
}


.block-18-bg{
    background-color: #000000;
}
.block-18-bg{
    background: url(../images/block-18-bg-img.jpg) no-repeat;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    width: 100%;
    margin-top: 100px;


}

.block-18-bg-img{
    background: url(../images/plastic-bg.jpg) no-repeat;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    padding: 12%;
    width: 100%;
}

.block-19-bg-img img{
    width: 100%;
}

.block-22-bg-img{
    background: url(../images/bg-block-22.jpg) no-repeat;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    width: 100%;
    padding: 15%;
}

.block-22-bg-img img{
    width: 100%;
    margin-top: -165px;
}

.block-23-img img{
    width: 100%;
    margin-top: -115px;
}